body{
    background-color: bisque; 
    font: normal 20px Arial;
    
}

header{
    color: rgb(214, 223, 231);
    background-color: rgb(199, 57, 57);
    width: 200px;
    text-align: center;
    margin: 0 auto;
}

input{
    width: 50px;
    text-align: center;
}