body{
    background-color: rgb(87, 174, 231);
    font: normal 15px Arial;
}
header{
    color: rgb(39, 42, 44);
    text-align: center;
}
section{
    background: rgb(202, 164, 115);    
    border-radius: 10px;
    padding: 15px;
    width: 500px;    
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.452);
}
div{    
    text-align: center;
    padding: 5px;
}
footer{
    text-align: center;
    font-style: italic;

}